@{
    ViewData["Title"] = "ImageSave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Image Save</h1>
<form asp-action="ImageSave" enctype="multipart/form-data">
    <input type="file" name="imageFile" />
    <button type="submit">Resmi Kaydet</button>
</form>

