@{
    ViewData["Title"] = "Home Page";
}

<environment names="Development">
    <h2>Ortam:Development</h2>
</environment>

<environment names="Production">
    <h2>Ortam:Production</h2>
</environment>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
